#quiz-container, #score-container {
    background-color: #f0f0f0;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hidden {
    display: none;
}

button {
    background-color: gray;
    border-color: black;
    color: #f0f0f0;
    margin: 5px;
    padding: 5px;
}

.incorrect {
    background-color: red;
    border-color: darkred;
    color: white;
}

.correct {
    background-color: green;
    border-color: darkgreen;
    color: white;
}